In [5]:
from models import *

In [6]:
ageRecongizer = vit_b_32_age_recognizer()

In [2]:
from loss import AgeRecognitionLoss
import torch

In [5]:
loss = AgeRecognitionLoss()
anchor = torch.rand(1, 512)
pos = torch.rand(1, 512)
neg = torch.rand(1, 512)
loss(anchor, pos, neg)

tensor(0.2857)

In [1]:
from preprocessor import AgeRecognitionPreprocessor

processor = AgeRecognitionPreprocessor()

In [4]:
processor.preprocess('./CACD2000/14_Aaron_Johnson_0001.jpg')

torch.Size([3, 224, 224])

In [8]:
import pandas as pd
import os 

df = pd.DataFrame(os.listdir('./Crops/'), columns=['image_name'])
split_names = df.image_name.apply(lambda x: x.split('_')).apply(lambda x: [x[0], ' '.join(x[1:-1]), x[-1]])
df['split_name'] = split_names
df = pd.DataFrame(df['split_name'].to_list(), columns=['age', 'name', 'image_id'])
df

      age            name  image_id
0      14   Aaron Johnson  0001.jpg
1      14   Aaron Johnson  0002.jpg
2      14   Adelaide Kane  0001.jpg
3      14   Adelaide Kane  0002.jpg
4      14   Adelaide Kane  0003.jpg
...    ..             ...       ...
91923  40  Victor Webster  0001.jpg
91924  40  Victor Webster  0002.jpg
91925  40  Victor Webster  0003.jpg
91926  40  Victor Webster  0005.jpg
91927  40  Victor Webster  0007.jpg

[91928 rows x 3 columns]

In [26]:
name_ids = dict(map(lambda x: (x[1], x[0]), enumerate(df.name.unique())))
name_ids

{'Aaron Johnson': 0,
 'Adelaide Kane': 1,
 'Alex Pettyfer': 2,
 'Allison Scagliotti': 3,
 'Britt Robertson': 4,
 'Caitlin Stasey': 5,
 'Carly Chaikin': 6,
 'Carly Schroeder': 7,
 'Cassie Scerbo': 8,
 'Charlie McDermott': 9,
 'Christian Serratos': 10,
 'Chris Colfer': 11,
 'Connor Paolo': 12,
 'Daveigh Chase': 13,
 'Dev Patel': 14,
 'Diego Boneta': 15,
 'Ella Rae Peck': 16,
 'Emma Watson': 17,
 'Gia Mantegna': 18,
 'Grant Gustin': 19,
 'Indiana Evans': 20,
 "Jack O'Connell": 21,
 'Jake Thomas': 22,
 'Jean-Luc Bilodeau': 23,
 'Jennifer Lawrence': 24,
 "Joanna 'JoJo' Levesque": 25,
 'Jonathan Lipnicki': 26,
 'Katie Findlay': 27,
 'Kay Panabaker': 28,
 'Kirsten Prout': 29,
 'Kristen Stewart': 30,
 'Lauren Potter': 31,
 'Lauren Socha': 32,
 'Leven Rambin': 33,
 'Liam Aiken': 34,
 'Liam Hemsworth': 35,
 'Lucas Till': 36,
 'Luke Kleintank': 37,
 'Margot Robbie': 38,
 'Marine Vacth': 39,
 'Matt Prokop': 40,
 'Nicole Gale Anderson': 41,
 "Q'orianka Kilcher": 42,
 'Rachel Hurd-Wood': 43,
 'Samantha Barks': 44,
 'Sarah Hyland': 45,
 'Sophie Lowe': 46,
 'Steven Anthony Lawrence': 47,
 'Thomas Brodie-Sangster': 48,
 'Adelaide Clemens': 49,
 'Aimee Teegarden': 50,
 'Alexis Knapp': 51,
 'Alex D. Linz': 52,
 'Alia Shawkat': 53,
 'Ali Cobrin': 54,
 'Aly Michalka': 55,
 'Anton Yelchin': 56,
 'Ashley Benson': 57,
 'Beau Mirchoff': 58,
 'Brie Larson': 59,
 'Caleb Landry Jones': 60,
 'Chord Overstreet': 61,
 'Christopher Mintz-Plasse': 62,
 'Chris Brown': 63,
 'Clare Bowen': 64,
 'Cody Linley': 65,
 'Corbin Bleu': 66,
 'Dakota Johnson': 67,
 'Daniel Radcliffe': 68,
 'David Henrie': 69,
 'Elizabeth Olsen': 70,
 'Emily Rios': 71,
 'Emma Rigby': 72,
 'Gabriella Wilde': 73,
 'Hayden Panettiere': 74,
 'Imogen Poots': 75,
 'Jake Lloyd': 76,
 'Jane Levy': 77,
 'Jeremy Sumpter': 78,
 'Jessica Brown Findlay': 79,
 'Juno Temple': 80,
 'Kat Graham': 81,
 'Keegan Allen': 82,
 'Lily Collins': 83,
 'Lindsey Shaw': 84,
 'Lucy Hale': 85,
 'Mackenzie Rosman': 86,
 'Matthew Lewis': 87,
 'Mia Wasikowska': 88,
 'Nathalie Emmanuel': 89,
 'Nicholas Hoult': 90,
 'Nina Dobrev': 91,
 'Phoebe Tonkin': 92,
 'Renee Olstead': 93,
 'Riley Keough': 94,
 'Rory Culkin': 95,
 'Scout Taylor-Compton': 96,
 'Shenae Grimes': 97,
 'Taylor Swift': 98,
 'Alexandra Krosney': 99,
 'Alexa Vega': 100,
 'Alicia Vikander': 101,
 'Allison Williams': 102,
 'Analeigh Tipton': 103,
 'Anna Popplewell': 104,
 'Ashley Hinshaw': 105,
 'Brenda Song': 106,
 'Chelsea Kane': 107,
 'Claire Holt': 108,
 'Cody Horn': 109,
 'Colton Haynes': 110,
 'Ed Speleers': 111,
 'Emily Browning': 112,
 'Emma Stone': 113,
 'Haley Bennett': 114,
 'Haley Joel Osment': 115,
 'Jamie Campbell Bower': 116,
 'Jesse Plemons': 117,
 'Jessica De Gouw': 118,
 'Jessica Lowndes': 119,
 'Joshua Bowman': 120,
 'Julianne Hough': 121,
 'Katrina Bowden': 122,
 'Kevin McHale': 123,
 'Leah Pipes': 124,
 'Lily Cole': 125,
 'Mae Whitman': 126,
 'Maiara Walsh': 127,
 'Max Thieriot': 128,
 'Michael Cera': 129,
 'Nikki Blonsky': 130,
 'Nikki Reed': 131,
 'Portia Doubleday': 132,
 'Rhys Wakefield': 133,
 'Rihanna': 134,
 'Robbie Amell': 135,
 'Ross Bagley': 136,
 'Rumer Willis': 137,
 'Rupert Grint': 138,
 'Sara Paxton': 139,
 'Sasha Grey': 140,
 'Steven R. McQueen': 141,
 'Tamsin Egerton': 142,
 'Tania Raymonde': 143,
 'Tori Black': 144,
 'Vanessa Hudgens': 145,
 'Zosia Mamet': 146,
 'Abby Elliott': 147,
 'Aneurin Barnard': 148,
 'AnnaLynne McCord': 149,
 'Ashley Greene': 150,
 'Blake Lively': 151,
 'Brooklyn Decker': 152,
 'Candice Accola': 153,
 'Dane DeHaan': 154,
 'Danielle Panabaker': 155,
 'Darren Criss': 156,
 'Ed Westwick': 157,
 'Ellen Page': 158,
 'Emilia Clarke': 159,
 'Evan Peters': 160,
 'Evan Rachel Wood': 161,
 'Genesis Rodriguez': 162,
 'Grey Damon': 163,
 'Heather Morris': 164,
 'Hilary Duff': 165,
 'Hunter Parrish': 166,
 'Jake Abel': 167,
 'Jemima West': 168,
 'Jesse McCartney': 169,
 'Joe Dempsie': 170,
 'Johanna Braddy': 171,
 'Karen Gillan': 172,
 'Lyndsy Fonseca': 173,
 'Mara Wilson': 174,
 'Michael Angarano': 175,
 'Michael B. Jordan': 176,
 'Michael Socha': 177,
 'Mika Boorem': 178,
 'Miles Teller': 179,
 'Naya Rivera': 180,
 "Nicole 'Snooki' Polizzi": 181,
 'Rachele Brooke Smith': 182,
 'Rollo Weeks': 183,
 'Rose Leslie': 184,
 'Rose McIver': 185,
 'Rosie Huntington-Whiteley': 186,
 'Sarah Gadon': 187,
 'Sara Canning': 188,
 'Shay Mitchell': 189,
 'Skylar Astin': 190,
 'Spencer Treat Clark': 191,
 'Thomas Dekker': 192,
 'Tom Felton': 193,
 'Tyler Hoechlin': 194,
 'William Moseley': 195,
 'Zac Efron': 196,
 'Alexandra Daddario': 197,
 'Amanda Bynes': 198,
 'Amanda Crew': 199,
 'Amber Heard': 200,
 'Armie Hammer': 201,
 'Ashley Olsen': 202,
 'Bree Olson': 203,
 'Briana Evigan': 204,
 'Brittany Snow': 205,
 'Bruno Mars': 206,
 'Caity Lotz': 207,
 'Camilla Belle': 208,
 'Dianna Agron': 209,
 'Drake Bell': 210,
 'Dreama Walker': 211,
 'Emily VanCamp': 212,
 'Emmy Rossum': 213,
 'Gemma Arterton': 214,
 'Ian Harding': 215,
 'Irina Shayk': 216,
 'Jamie Bell': 217,
 'Jenna Coleman': 218,
 'Jessica Stroup': 219,
 'Jessy Schram': 220,
 'Josh Peck': 221,
 'Jurnee Smollett-Bell': 222,
 'Katie Cassidy': 223,
 'Kat Dennings': 224,
 'Kit Harington': 225,
 'Lady Gaga': 226,
 'Lea Michele': 227,
 'Leighton Meester': 228,
 'Lena Dunham': 229,
 'Lindsay Lohan': 230,
 'Margo Harshman': 231,
 'Mary-Kate Olsen': 232,
 'Megan Fox': 233,
 'Miko Hughes': 234,
 'Mischa Barton': 235,
 'Monica Raymund': 236,
 'Olivia Thirlby': 237,
 'Penn Badgley': 238,
 'Peyton List': 239,
 'Robert Pattinson': 240,
 'Robert Sheehan': 241,
 'Sam Claflin': 242,
 'Scott Eastwood': 243,
 'Shia LaBeouf': 244,
 'Teresa Palmer': 245,
 'Tyler Blackburn': 246,
 'Agnes Bruckner': 247,
 'Alison Pill': 248,
 'Amanda Setton': 249,
 'Amanda Seyfried': 250,
 'Anna Kendrick': 251,
 'Arielle Kebbel': 252,
 'Ashley Tisdale': 253,
 'Beth Behrs': 254,
 'Brant Daugherty': 255,
 'Bug Hall': 256,
 'Carey Mulligan': 257,
 'Celina Jade': 258,
 'Chace Crawford': 259,
 'Clark Duke': 260,
 'Cristin Milioti': 261,
 'Crystal Reed': 262,
 'Dave Franco': 263,
 'Deborah Ann Woll': 264,
 'Derek Hough': 265,
 'Emile Hirsch': 266,
 'Eva Amurri Martino': 267,
 'Frankie Muniz': 268,
 'Gal Gadot': 269,
 'Isabel Lucas': 270,
 'James Lafferty': 271,
 'James Wolk': 272,
 'Jessica Lucas': 273,
 'Jessica Szohr': 274,
 'John Francis Daley': 275,
 'Jonathan Groff': 276,
 'Kaley Cuoco': 277,
 'Keira Knightley': 278,
 'Kellan Lutz': 279,
 'Kyle Gallner': 280,
 'Luke Mitchell': 281,
 'Madeline Zima': 282,
 'Masiela Lusha': 283,
 'Max Irons': 284,
 'Max Minghella': 285,
 'Michael Trevino': 286,
 'Michelle Trachtenberg': 287,
 'Odette Annable': 288,
 'Rooney Mara': 289,
 'Talulah Riley': 290,
 'Tatiana Maslany': 291,
 'Tina Majorino': 292,
 'Troian Bellisario': 293,
 'Zach Roerig': 294,
 'Adam Lamberg': 295,
 'Alan Ritchson': 296,
 'Alexis Dziena': 297,
 'America Ferrera': 298,
 'Ashlee Simpson': 299,
 'Avril Lavigne': 300,
 'Christy Romano': 301,
 'Freida Pinto': 302,
 'Garrett Hedlund': 303,
 'Hanna Hall': 304,
 'Helena Mattsson': 305,
 'Jackson Rathbone': 306,
 'Jaimie Alexander': 307,
 'Jena Malone': 308,
 'Jeremy Jordan': 309,
 'Joseph Gilgun': 310,
 'Katharine McPhee': 311,
 'Katy Perry': 312,
 'Kelli Garner': 313,
 'Kelly Osbourne': 314,
 'Kenny Wormald': 315,
 'Kevin Zegers': 316,
 'Kimberly J. Brown': 317,
 'Laura Vandervoort': 318,
 'Lee Thompson Young': 319,
 'Lucas Grabeel': 320,
 'Mandy Moore': 321,
 'Martha MacIsaac': 322,
 'Mary Elizabeth Winstead': 323,
 'Natalia Tena': 324,
 'Natalie Martinez': 325,
 'Noureen DeWulf': 326,
 'Olivia Wilde': 327,
 'Paul Dano': 328,
 'Paz de la Huerta': 329,
 'Rachael Taylor': 330,
 'Ryan Eggold': 331,
 'Sarah Roemer': 332,
 'Scarlett Johansson': 333,
 'Serinda Swan': 334,
 'Shannon Woodward': 335,
 'Stephanie Leonidas': 336,
 'Taylor Cole': 337,
 'Taylor Handley': 338,
 'Taylor Schilling': 339,
 'Theo James': 340,
 'Todd Bosley': 341,
 'Torrey DeVitto': 342,
 'Wilson Bethel': 343,
 'Aaron Tveit': 344,
 'Adrianne Palicki': 345,
 'Aidan Turner': 346,
 'Alice Braga': 347,
 'Alona Tal': 348,
 'Amanda Righetti': 349,
 'Amber Tamblyn': 350,
 'Andrew Garfield': 351,
 'Ari Graynor': 352,
 'Ashley Johnson': 353,
 'Aziz Ansari': 354,
 'Camilla Luddington': 355,
 'Charlotte Sullivan': 356,
 'Christine Woods': 357,
 'Chris Hemsworth': 358,
 'Daniela Ruah': 359,
 'Diora Baird': 360,
 'Emily Blunt': 361,
 'Emun Elliott': 362,
 'Felicity Jones': 363,
 'Gabourey Sidibe': 364,
 'Greta Gerwig': 365,
 'Henry Cavill': 366,
 'Jamie Chung': 367,
 'Jana Kramer': 368,
 'Jesse Eisenberg': 369,
 'Johnny Lewis': 370,
 'Jonah Hill': 371,
 'Joseph Mazzello': 372,
 'Karine Vanasse': 373,
 'Kate Bosworth': 374,
 'Kate Mara': 375,
 'Katia Winter': 376,
 'Leelee Sobieski': 377,
 'Maggie Grace': 378,
 'Mamie Gummer': 379,
 'Matt Lanter': 380,
 'Megan Boone': 381,
 'Mila Kunis': 382,
 'Miranda Kerr': 383,
 'Rebecca Ferguson': 384,
 'Robert Kazinsky': 385,
 'Sarah Jones': 386,
 'Sarah Wright': 387,
 'Sharni Vinson': 388,
 'Spencer Grammer': 389,
 'Tammin Sursok': 390,
 'Xavier Samuel': 391,
 'Zoe Kazan': 392,
 'Abbie Cornish': 393,
 'Alexandra Breckenridge': 394,
 'Alice Eve': 395,
 'Alison Brie': 396,
 'Anna Camp': 397,
 'Anna Paquin': 398,
 'Anne Hathaway': 399,
 'Billie Piper': 400,
 'Cam Gigandet': 401,
 'Cobie Smulders': 402,
 'Cory Monteith': 403,
 'Eddie Redmayne': 404,
 'Elisabeth Moss': 405,
 'Elisha Cuthbert': 406,
 'Gemma Chan': 407,
 'Gina Carano': 408,
 'Hayley Atwell': 409,
 'Hilarie Burton': 410,
 'Jack Huston': 411,
 'Jared Padalecki': 412,
 'Jay Baruchel': 413,
 'Jessica Biel': 414,
 'Katie Featherston': 415,
 'Kirsten Dunst': 416,
 'Kristin Kreuk': 417,
 'Lacey Chabert': 418,
 'Laura Ramsey': 419,
 'Lauren Cohan': 420,
 'Lily Rabe': 421,
 'Lizzy Caplan': 422,
 'Lucas Black': 423,
 'Martin Starr': 424,
 'Matt Smith': 425,
 'Meghan Ory': 426,
 'Melissa Fumero': 427,
 'Natalie Dormer': 428,
 'Paul Wesley': 429,
 'Rachel Boston': 430,
 'Rebecca Hall': 431,
 'Ruth Wilson': 432,
 'Sebastian Stan': 433,
 'Seth Rogen': 434,
 'Sophia Bush': 435,
 'Taran Killam': 436,
 'Thora Birch': 437,
 'Tiya Sircar': 438,
 'Tom Mison': 439,
 'Yvonne Strahovski': 440,
 'Abigail Spencer': 441,
 'Alexis Bledel': 442,
 'Andrea Riseborough': 443,
 'Ben Barnes': 444,
 'Britney Spears': 445,
 'Bryce Dallas Howard': 446,
 'Chad Michael Murray': 447,
 'Christina Milian': 448,
 'Chris Evans': 449,
 "Colin O'Donoghue": 450,
 'Danielle Fishel': 451,
 'Elijah Wood': 452,
 'Emilie de Ravin': 453,
 'Emily Rose': 454,
 'Hayden Christensen': 455,
 'Jay Ryan': 456,
 'Jemima Rooper': 457,
 'Jesse Williams': 458,
 'Jessica Alba': 459,
 'Jonathan Bennett': 460,
 'Jonathan Taylor Thomas': 461,
 'Joseph Gordon-Levitt': 462,
 'Joseph Morgan': 463,
 'Josh Dallas': 464,
 'Julia Stiles': 465,
 'Julie Gonzalo': 466,
 'Justin Timberlake': 467,
 'Katy Mixon': 468,
 'Krysten Ritter': 469,
 'Kunal Nayyar': 470,
 'Larisa Oleynik': 471,
 'Laura Bell Bundy': 472,
 'Matt Jones': 473,
 'Meagan Good': 474,
 'Megan Hilty': 475,
 'Meghan Markle': 476,
 'Michael Pitt': 477,
 'Michelle Dockery': 478,
 'Natalie Portman': 479,
 'Rachel Bilson': 480,
 'Rinko Kikuchi': 481,
 'Rupert Friend': 482,
 'Shawna Waldron': 483,
 'Sienna Miller': 484,
 'Stephen Amell': 485,
 'Summer Glau': 486,
 'Taylor Kinney': 487,
 'Taylor Kitsch': 488,
 'Tom Hiddleston': 489,
 'Anna Chlumsky': 490,
 'April Bowlby': 491,
 'Ben Foster': 492,
 'Ben Whishaw': 493,
 'Channing Tatum': 494,
 'Charlie Hunnam': 495,
 'Christina Aguilera': 496,
 'Christina Ricci': 497,
 'Chris Pine': 498,
 'Eliza Dushku': 499,
 'Ellie Kemper': 500,
 'Eva Green': 501,
 'Fernanda Machado': 502,
 'Jake Gyllenhaal': 503,
 'Janina Gavankar': 504,
 'Jason Segel': 505,
 'Jenna Dewan-Tatum': 506,
 'Jessica Simpson': 507,
 'Jordana Brewster': 508,
 'Katee Sackhoff': 509,
 'Kate Micucci': 510,
 'Kevin Hart': 511,
 'Kim Kardashian': 512,
 'Kristen Bell': 513,
 'Kristen Connolly': 514,
 'Laura Prepon': 515,
 'Macaulay Culkin': 516,
 'Maggie Lawson': 517,
 'Margarita Levieva': 518,
 'Marla Sokoloff': 519,
 'Matthew Gray Gubler': 520,
 'Max Greenfield': 521,
 'Melissa Rauch': 522,
 'Michelle Williams': 523,
 'Mindy Robinson': 524,
 'Minka Kelly': 525,
 "Nicholas D'Agosto": 526,
 'Nick Cannon': 527,
 'Olivia Munn': 528,
 'Oscar Isaac': 529,
 'Rachel Miner': 530,
 'Rachel Nichols': 531,
 'Ryan Gosling': 532,
 'Sarah Drew': 533,
 'Sarah Shahi': 534,
 'Sibel Kekilli': 535,
 'Simon Helberg': 536,
 'Vanessa Lachey': 537,
 'Zachary Levi': 538,
 'Zooey Deschanel': 539,
 'Aaron Ashmore': 540,
 'Aaron Paul': 541,
 'Alison Lohman': 542,
 'Anna Torv': 543,
 'Anthony Mackie': 544,
 'Christine Lakin': 545,
 "Chris O'Dowd": 546,
 'Chris Pratt': 547,
 'Claire Danes': 548,
 'Cote de Pablo': 549,
 'Dania Ramirez': 550,
 'Danneel Ackles': 551,
 'Evangeline Lilly': 552,
 'Felicia Day': 553,
 'Fiona Dourif': 554,
 'Georgina Verbaan': 555,
 'Heath Ledger': 556,
 'Jaime King': 557,
 'James McAvoy': 558,
 'Jason Momoa': 559,
 'Jayma Mays': 560,
 'Jennifer Carpenter': 561,
 'Jennifer Love Hewitt': 562,
 'Jennifer Morrison': 563,
 'Joel Kinnaman': 564,
 'John Krasinski': 565,
 'Kate Hudson': 566,
 'Kristanna Loken': 567,
 'Lake Bell': 568,
 'Lee Pace': 569,
 'Lindy Booth': 570,
 'Luke Evans': 571,
 'Mary Elizabeth Ellis': 572,
 'Mena Suvari': 573,
 'Mike Vogel': 574,
 'Mindy Kaling': 575,
 'Morena Baccarin': 576,
 'Natasha Lyonne': 577,
 'Noomi Rapace': 578,
 'Olga Kurylenko': 579,
 'Rachael Leigh Cook': 580,
 'Rachelle Lefevre': 581,
 'Riki Lindhome': 582,
 'Rosamund Pike': 583,
 'Rosario Dawson': 584,
 'Rose Byrne': 585,
 'Sara Rue': 586,
 'Shawn Ashmore': 587,
 'Stacy Keibler': 588,
 'Travis Fimmel': 589,
 'A.J. Cook': 590,
 'Alexandra Maria Lara': 591,
 'Andy Samberg': 592,
 'Ashley Williams': 593,
 'Ashton Kutcher': 594,
 'Becki Newton': 595,
 'Bill Hader': 596,
 'David Krumholtz': 597,
 'Devon Sawa': 598,
 'Diablo Cody': 599,
 'DJ Qualls': 600,
 'Dominic Cooper': 601,
 'Ethan Embry': 602,
 'Ginnifer Goodwin': 603,
 'Ian Somerhalder': 604,
 'James Badge Dale': 605,
 'James Franco': 606,
 'January Jones': 607,
 'Jason Biggs': 608,
 'Jensen Ackles': 609,
 'Jim Sturgess': 610,
 'JoAnna Garcia Swisher': 611,
 "Jodi Lyn O'Keefe": 612,
 'Joshua Jackson': 613,
 'Josh Hartnett': 614,
 'Justin Bartha': 615,
 'Justin Long': 616,
 'Katherine Heigl': 617,
 'Katie Aselton': 618,
 'Katie Holmes': 619,
 'Kristen Schaal': 620,
 'Lauren Ambrose': 621,
 'Lauren German': 622,
 'Malin Akerman': 623,
 'Matthew Goode': 624,
 'Michaela Conlin': 625,
 'Michelle Borth': 626,
 'Michelle Rodriguez': 627,
 'Nadine Velazquez': 628,
 'Nicholle Tom': 629,
 'Nicole Scherzinger': 630,
 'Pablo Schreiber': 631,
 'Rachel McAdams': 632,
 'Shane West': 633,
 'Shannyn Sossamon': 634,
 'Stana Katic': 635,
 'Taryn Manning': 636,
 'Tia Mowry-Hardrict': 637,
 'Topher Grace': 638,
 'Zoe Saldana': 639,
 'Bianca Kajlich': 640,
 'Bree Turner': 641,
 'Brittany Murphy': 642,
 'Chiwetel Ejiofor': 643,
 'Clea DuVall': 644,
 'Colin Hanks': 645,
 'Danielle Harris': 646,
 'Danny Dyer': 647,
 'Edward Furlong': 648,
 'Emmanuelle Chriqui': 649,
 'Eric Balfour': 650,
 'Eric Christian Olsen': 651,
 'Jaime Murray': 652,
 'Jaime Pressly': 653,
 'James Van Der Beek': 654,
 'James Wan': 655,
 'Jessica Chastain': 656,
 'Jonathan Rhys Meyers': 657,
 'Jon Bernthal': 658,
 'Jon Heder': 659,
 'Justin Hartley': 660,
 'Kal Penn': 661,
 'Katherine Moennig': 662,
 'Katheryn Winnick': 663,
 'Kelly Reilly': 664,
 'Kerry Washington': 665,
 'Lana Parrilla': 666,
 'Lindsay Sloane': 667,
 'Liv Tyler': 668,
 'Lucy Punch': 669,
 'Lynn Collins': 670,
 'Maggie Gyllenhaal': 671,
 'Marguerite Moreau': 672,
 'Matt Bomer': 673,
 'Melanie Lynskey': 674,
 'Michael Fassbender': 675,
 'Michael Raymond-James': 676,
 'Milo Ventimiglia': 677,
 'Orlando Bloom': 678,
 'Richard Ayoade': 679,
 'Robin Thicke': 680,
 'Sarah Michelle Gellar': 681,
 'Sarah Wayne Callies': 682,
 'Sean Murray': 683,
 'Steve Howey': 684,
 'Tom Hardy': 685,
 'Tom Welling': 686,
 'Warren Kole': 687,
 'Zachary Quinto': 688,
 'Zuleikha Robinson': 689,
 "Alex O'Loughlin": 690,
 'Alicia Silverstone': 691,
 'Ali Larter': 692,
 'Amy Acker': 693,
 'Amy Smart': 694,
 'Anna Faris': 695,
 'Audrey Tautou': 696,
 'Benedict Cumberbatch': 697,
 'Brittany Daniel': 698,
 'Candace Cameron Bure': 699,
 'Carice van Houten': 700,
 'Charlie Day': 701,
 'Cillian Murphy': 702,
 'Colin Farrell': 703,
 'Danielle Bisutti': 704,
 'Daniel Gillies': 705,
 'Danny McBride': 706,
 'Desmond Harrington': 707,
 'Diane Kruger': 708,
 'Elsa Pataky': 709,
 'Emily Deschanel': 710,
 'Eric Winter': 711,
 'Ethan Suplee': 712,
 'Freddie Prinze Jr.': 713,
 'Hamish Linklater': 714,
 'Isla Fisher': 715,
 'Jessica Capshaw': 716,
 'Joe Manganiello': 717,
 'Kelly Macdonald': 718,
 'Keri Russell': 719,
 'Laura Fraser': 720,
 'Melissa George': 721,
 'Melissa Joan Hart': 722,
 'Michelle Monaghan': 723,
 'Naomie Harris': 724,
 'Oliver Hudson': 725,
 'Paz Vega': 726,
 'Piper Perabo': 727,
 'Rashida Jones': 728,
 'Reese Witherspoon': 729,
 'Rhona Mitra': 730,
 'Ryan Hurst': 731,
 'Ryan Kwanten': 732,
 'Ryan Reynolds': 733,
 'Sam Worthington': 734,
 'Sarah Chalke': 735,
 'Scott Caan': 736,
 'Seann William Scott': 737,
 'Vinessa Shaw': 738,
 '50 Cent': 739,
 'Alanna Ubach': 740,
 'Alicia Witt': 741,
 'Angelina Jolie': 742,
 'Asia Argento': 743,
 'Bradley Cooper': 744,
 'Carla Gallo': 745,
 'Casey Affleck': 746,
 'Charlize Theron': 747,
 'Christina Hendricks': 748,
 'Cole Hauser': 749,
 'Danica McKellar': 750,
 'Dante Basco': 751,
 'Dax Shepard': 752,
 'Diane Neal': 753,
 'Drew Barrymore': 754,
 'Eva Longoria': 755,
 'Fergie Duhamel': 756,
 'Georgina Cates': 757,
 "Heather O'Rourke": 758,
 'Hugh Dancy': 759,
 'Jason Sudeikis': 760,
 'Jesse Tyler Ferguson': 761,
 'Johnny Galecki': 762,
 'Jolene Blalock': 763,
 'Judy Greer': 764,
 'Kaitlin Olson': 765,
 'Kate Winslet': 766,
 'Linda Cardellini': 767,
 'Marion Cotillard': 768,
 'Mayim Bialik': 769,
 'Mia Kirshner': 770,
 'Milla Jovovich': 771,
 'Mireille Enos': 772,
 'Moon Bloodgood': 773,
 'Natalie Zea': 774,
 'Parminder Nagra': 775,
 'Paula Patton': 776,
 'Poppy Montgomery': 777,
 'Rodrigo Santoro': 778,
 'Russell Brand': 779,
 'Sara Gilbert': 780,
 'Sara Ramirez': 781,
 'Sienna Guillory': 782,
 'Staci Keanan': 783,
 'Tahmoh Penikett': 784,
 'Tara Reid': 785,
 'Theo Rossi': 786,
 'Tobey Maguire': 787,
 'Zach Braff': 788,
 'Alyson Hannigan': 789,
 'Amber Valletta': 790,
 'Amy Adams': 791,
 'Burn Gorman': 792,
 'Christian Bale': 793,
 'Chris Messina': 794,
 'David Faustino': 795,
 'Ed Helms': 796,
 'Elizabeth Banks': 797,
 'Eva Mendes': 798,
 'Fairuza Balk': 799,
 'Franka Potente': 800,
 'Giovanni Ribisi': 801,
 'Grace Park': 802,
 'Hilary Swank': 803,
 'Ivana Milicevic': 804,
 'Jason Mewes': 805,
 'Jemaine Clement': 806,
 'Jenna Fischer': 807,
 'Jenna Jameson': 808,
 'Jeremy Sisto': 809,
 "Jerry O'Connell": 810,
 'Jimmy Fallon': 811,
 'Joaquin Phoenix': 812,
 'Joel Edgerton': 813,
 'Josh Radnor': 814,
 'Kathryn Hahn': 815,
 'Kevin Durand': 816,
 'Leonardo DiCaprio': 817,
 'Leslie Bibb': 818,
 'Maggie Siff': 819,
 'Mark-Paul Gosselaar': 820,
 'Marley Shelton': 821,
 'Matthew Macfadyen': 822,
 'Matt Lucas': 823,
 'Michael Shannon': 824,
 'Misha Collins': 825,
 'Natasha Henstridge': 826,
 'Natasha Leggero': 827,
 'Ray Park': 828,
 'Ryan Phillippe': 829,
 'Sarah Paulson': 830,
 'Seth Green': 831,
 'Sonya Walger': 832,
 'Stephen Merchant': 833,
 'Tiffani Thiessen': 834,
 'Tricia Helfer': 835,
 'Adam Scott': 836,
 'Aishwarya Rai Bachchan': 837,
 'Andrew Lincoln': 838,
 'Anson Mount': 839,
 'Boris Kodjoe': 840,
 'Brian Austin Green': 841,
 'Bridgette Wilson-Sampras': 842,
 'Carmen Serano': 843,
 'Colin Egglesfield': 844,
 'Emma Caulfield': 845,
 'Heidi Klum': 846,
 'Holly Marie Combs': 847,
 'Ioan Gruffudd': 848,
 'Jack Davenport': 849,
 'Jack McBrayer': 850,
 'James Marsden': 851,
 'Jennifer Esposito': 852,
 'Jim Parsons': 853,
 'Jorge Garcia': 854,
 'Josie Davis': 855,
 'Juliette Lewis': 856,
 'Kate Beckinsale': 857,
 'Kathleen Robertson': 858,
 'Kevin McKidd': 859,
 'Kristen Wiig': 860,
 'Lena Headey': 861,
 'Mario Lopez': 862,
 'Marissa Ribisi': 863,

In [28]:
df['name_id'] = df['name'].apply(lambda x: name_ids[x])

In [29]:
df

      age            name  image_id  name_id
0      14   Aaron Johnson  0001.jpg        0
1      14   Aaron Johnson  0002.jpg        0
2      14   Adelaide Kane  0001.jpg        1
3      14   Adelaide Kane  0002.jpg        1
4      14   Adelaide Kane  0003.jpg        1
...    ..             ...       ...      ...
91923  40  Victor Webster  0001.jpg      884
91924  40  Victor Webster  0002.jpg      884
91925  40  Victor Webster  0003.jpg      884
91926  40  Victor Webster  0005.jpg      884
91927  40  Victor Webster  0007.jpg      884

[91928 rows x 4 columns]